# Unreal Engine Ignore
Saved/
Intermediate/
DerivedDataCache/
Binaries/
Build/
.vs/
.idea/
*.VC.db
*.opensdf
*.sdf
*.suo
*.log
*.pdb
*.obj
Plugins/*/Intermediate/
Plugins/*/Binaries/
# Mac
.DS_Store
# Windows
Thumbs.db
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
